.img-1 {
    background-image: url("../assets/table1.png");
}
.img-1-red {
    background-image: url("../assets/table1-red.png");
}
.img-1-orange {
    background-image: url("../assets/table1-orange.png");
}

.img-2 {
    background-image: url("../assets/table2.png");
}
.img-2-red {
    background-image: url("../assets/table2-red.png");
}
.img-2-orange {
    background-image: url("../assets/table2-orange.png");
}

.img-3 {
    background-image: url("../assets/table3.png");
}
.img-3-red {
    background-image: url("../assets/table3-red.png");
}
.img-3-orange {
    background-image: url("../assets/table3-orange.png");
}

.img-4 {
    background-image: url("../assets/table4.png");
}
.img-4-red {
    background-image: url("../assets/table4-red.png");
}
.img-4-orange {
    background-image: url("../assets/table4-orange.png");
}

.img-5 {
    background-image: url("../assets/table5.png");
}
.img-5-red {
    background-image: url("../assets/table5-red.png");
}
.img-5-orange {
    background-image: url("../assets/table5-orange.png");
}

.img-6 {
    background-image: url("../assets/table6.png");
}
.img-6-red {
    background-image: url("../assets/table6-red.png");
}
.img-6-orange {
    background-image: url("../assets/table6-orange.png");
}

.img-8 {
    background-image: url("../assets/table8.png");
}
.img-8-red {
    background-image: url("../assets/table8-red.png");
}
.img-8-orange {
    background-image: url("../assets/table8-orange.png");
}